.body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 10px;
  gap: 10px;
  color: #2e2f42;
}

a {
  text-decoration: none;
}

img {
  width: 450px;
  height: 300px;
}

li {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
  text-transform: capitalize;
  gap: 5px;
}

.input {
  padding-left: 16px;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  background: #fff;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.container {
  padding: 24px;
}

.button {
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  width: 91px;
  height: 50px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 8px;
}

.search-form {
  text-align: center;
}

.gallery {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
  margin: 15px;
}

.loader {
  text-align: center;
}

.load-more {
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  width: 120px;
  height: 50px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 8px;
  display: none;
  position: absolute;
  left: 50%;
}

.more-but {
  text-align: center;
}
